# Output files
*.xlsx
*.csv
*.tiff
*.html
*.pdf

# macOS
.DS_Store

# R history / session
.Rapp.history
.Rhistory
.RData
.Ruserdata

# RStudio
.Rprofile
.Rproj.user/
**/pcs/
**/sources/
**/cpp-definition-cache
**/saved_source_markers

# Quarto / Rmd build artefacts
.quarto/
_cache/
**/rmd-outputs/

# RenV
renv/library/
renv/python/
renv/staging/